{% extends 'base.html.twig' %}

{% block title %}New Pictures{% endblock %}

{% block body %}
    <h1>Ajouter une photo</h1>

    {{ include('pictures/_form.html.twig') }}

    <a href="{{ path('app_pictures_index') }}">Liste de photos</a>
{% endblock %}
